ASCAD_data.zip
ASCAD_data/ASCAD_trained_models/mlp_best_ascad_desync50_node200_layernb6_epochs200_classes256_batchsize100.h5
ASCAD_data/ASCAD_databases/ASCAD.h5
ASCAD_data/ASCAD_databases/ASCAD_desync100.h5
ASCAD_data/ASCAD_databases/ASCAD_desync50.h5
ASCAD_data/ASCAD_databases/ATMega8515_raw_traces.h5
ASCAD_data/ASCAD_trained_models/cnn_best_ascad_desync0_epochs75_classes256_batchsize200.h5
ASCAD_data/ASCAD_trained_models/cnn_best_ascad_desync100_epochs75_classes256_batchsize200.h5
ASCAD_data/ASCAD_trained_models/cnn_best_ascad_desync50_epochs75_classes256_batchsize200.h5
ASCAD_data/ASCAD_trained_models/mlp_best_ascad_desync0_node200_layernb6_epochs200_classes256_batchsize100.h5
ASCAD_data/ASCAD_trained_models/mlp_best_ascad_desync100_node200_layernb6_epochs200_classes256_batchsize100.h5

# Python virtual environments
.venv/
venv/
env/
ENV/
